<!DOCTYPE html>
<html lange="en">
<head>
    <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
</head>
<body>
    <h1>Change Password</h1>
    <form action="/change_password" method="post">
        <label for="input">Old password</label><br>
        <input type="password" name="old_password"><br>
        <label for="input">New password</label><br>
        <input type="password" name="new_password"><br> 
        <button type="submit">Change Password</button>
    </form>
    <p>Result: {{ status }}</p><br>
    <p><button onClick="location.href='/view_profile'">Back to Profile</button></p>
</body>
</html>